/*
 * Top-level layout...
 */

body {
    margin-top: 5%;
    margin-left: 50%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}

div.controls {
    font: 14px sans-serif;
    margin-bottom: 26px;
    float: left;
}

/*
 * Wide-screen layout.
 */
@media (min-width: 751px) {
    div.page {
        margin-left: -280px;
    }
    div.controls {
        width: 160px;
    }
    div.slider {
        margin-top: 20px;
    }
    div.stats {
        margin-top: 50px;
    }
}

/*
 * Narrow-screen layout.
 */
@media (max-width: 750px) {
    div.page {
        margin-left: -220px;
        max-width: 440px;
        min-width: 440px;
    }
    div.controls {
        width: 376px;
        margin-left: 60px;
    }
    div.buttons {
        height: 44px;
    }
    div.boardFrame {
        margin-left: 20px;
        margin-right: 20px;
    }
    div.stats {
        width: 300px;
    }
}

div.boardFrame {
    float: left;
    height: 400px;
    width: 400px;
}

div.results {
    float: left;
    margin-left: 40px;
}

/*
 * User controls...
 */
div.sliders {
    margin-left: 10px;
}
div.slider {
    float: left;
    margin-right: 30px;
}

button {
    margin: 10px;
    width: 100px;
    height: 24px;
    font-size: 14px;
    background: #ccc;
    border: none;
}
button:hover {
    background: #ddd;
}

label {
    /*clear: both;*/
    display: block;
    float: left;
    margin-right: 6px;
}
.paramValue {
    color: #666;
    float: left;
}
input {
    margin-top: 4px;
    clear: both;
    float: left;
}

/*
 * Statistics
 */
.stats {
    float: left;
    clear: left;
    margin-top: 14px;
    margin-left: 10px;
}
.stat {
    float: left;
    width: 100px;
    margin-bottom: 8px;
}
.state {
    color: #666;
}

/*
 * SVG elements...
 */
circle {
    fill: rgb(255, 102, 0);
    visibility: hidden;
}

svg circle.alive {
    visibility: visible;
}

